.container{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.card{
    background: wheat;
    border: 8px solid rgb(141, 141, 141);
    width: 300px;
    border-radius: 8px;
    padding: 12px;
    transition: box shadow 400ms ease-out;
    animation-name: changeBorderColor;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.card > img{
    position: relative;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    height: max-content;



}
.container .card:nth-child(2){
    position: relative;
}

.card .title{
    font-size: 32px;
    color: #202020;
    margin: 0;
    margin-top: 17px;
    margin-bottom: 16px;
}

.card .description{
    font-size: 16px;
    color: #515151;
    margin-bottom: 32px;
    margin: 0;
}

.card .card-link{
    text-decoration: none;
    color:#202020;
}

.card .card-link:hover{
    color: #519151;
}
.card:hover{
box-shadow: 4px 8px 64px rgba(217, 41, 0.42);
}

@keyframes changeBorderColor{
 0%{border-color: rgb(60, 60, 167); }
 25% {border-color: rgb(141, 141, 141);}
 50% {border-color: rgba(217, 41, 0.42);}
 75% {border-color: rgb(60, 60, 167);}
 100% {border-color: rgb 215, 39, 215;}
}

.container{
    width: 100%;
    height: 500px;
}